.giscus {
  width: calc(100% - 32px);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

.giscus-container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 800px;
}
